<div class="d-flex justify-content-center mt-5" >
    <div style="width: 30rem; " class="card align-items-center p-3 border-dark border-opacity-75 bg-light">
        <img class="border border-dark p-2" style="height: 180px; width: 180px;" [src]="contact.photo" alt="image">
        <div class="card-body text-center">
            <h4 class="card-title fw-bold ">{{contact.name}}</h4>
            <p class="fw-bold fs-5">Id:- {{contact.id}}</p>
            <p  class="fw-bold fs-5">Mobile:- {{contact.mobile}}</p>
            <p  class="fw-bold fs-5">Email:- {{contact.email}}</p>
            <p  class="fw-bold fs-5">Company:- {{contact.company}}</p>
            <p  class="fw-bold fs-5">Title:- {{contact.title}}</p>
            <p  class="fw-bold fs-5">Group:- {{group}} </p>
    
        </div>
    
    </div>
</div >
