<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="text-center fw-bold fs-1">404</p>
            <img style="width: 500px; height: 500px;" src="https://cdn.svgator.com/images/2022/01/funny-404-error-page-design.gif" alt="lost">
            <h3 class="text-center">Looks Like YOU are LOST</h3>
            <h5 class="text-center">The page you are looking is not available</h5>
            <a style="height: 40px; width:200px;" class="" routerLink="" class="btn btn-warning">Go to Home</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<!--  -->
